        /* || GENERAL STYLES */

*{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;

}
body{
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-div-section{
    position: absolute;
    width: 100%;
    height: 100%;
        }

        /* || END OF GENERAL STYLES */

        /*HEADER SECTION START*/
header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 300px;
}
.header-main-section{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 200px;
    margin-top: 45px;
    margin-left: 38px;
}
.active-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*    PLACE IT A BIT ABOVE GOOOD BOY       */
.burger{
    padding-right: 10px;
    width: 15px;
    height: 7px;
}
svg{
    padding-bottom: 2px;
}
.menu{
    width: 70px;
    height: 15px;
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 25px;
    margin-top: 22px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #969696;
}
.menu-text{
    color: #969696;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


































































