        /* || GENERAL STYLES */

*{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;

}
body{
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-div-section{
    position: absolute;
    width: 100%;
    height: 100%;
        }

        /* || END OF GENERAL STYLES */

        /*HEADER SECTION START*/
header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    border: solid orange;
        }