*{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
}

        /*MENU SECTION*/

.action-menu{
    margin-left: 35px;
    margin-top: 45px;
}
.text-menu{
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.text-menu a{
    text-decoration: none;
    color: #969696;
}
#menu-roof{
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*END OF MENU SECTION*/































