        /* || GENERAL STYLES */

*{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;

}
body{
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

        /* || END OF GENERAL STYLES */



        /* MENU SECTION */

.burger{
    width: 15px;
    height: 7px;
}
.action-menu{
    margin-left: 35px;
    margin-top: 45px;
    position: absolute;
}
.text-menu{
    position: relative;
    top: 15px;
    bottom: 5px;
    left: 25px;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}
.text-menu a{
    text-decoration: none;
    color: #969696;
}
.menu-list{
    list-style: none;
    padding: 0px;
}
.menu{
    position: relative;
    bottom: 5px;
    left: 25px;
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

        /* END OF MENU SECTION */



        /* MAIN SECTION */



        /* END OF MAIN SECTION */



        /* FOOTER SECTION */

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 745px;
    background: #262630;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-main{
    position: relative;
    width: 100%;
/*    border: solid red;*/
    border-radius: 50px;
    height: 655px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-second{
    position: relative;
    width: 100%;
/*    border: solid rebeccapurple;*/
    height: 90px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-text-main-section{
    position: relative;
    width: 100%;
/*    border: solid green;*/
    height: 380px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.footer-btns-main-section{
    position: relative;
    width: 100%;
/*    border: solid gold;*/
    height: 275px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.line-section{
    position: relative;
    width: 100%;
/*    border: solid gainsboro;*/
    height: 14px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.reference-text-section{
    position: relative;
    width: 100%;
/*    border: solid #d94f8d;*/
    height: 66px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.line{
    width: 98%;
    height: 1px;
    background: #ffffff;
    margin-top: 6px;
}
.refinfo{
    color: #ffffff;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 16px;
}
.ref-items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#item1{
    margin-left: 36px;
}
#item2{
    margin-left: 36px;
}
#item3{
    margin-left: 36px;
    margin-right: 23px;
}
#c-sign{
    margin-left: 19px;
}
.main-question-text-section{
    position: relative;
    width: 100%;
/*    border: solid gold;*/
    height: 230px;
    width: 1000px;
    margin-top: 140px;
    margin-right: 260px;
    color: #ffffff;
    font-family: Manrope;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-photo{
    width: 63px;
    height: 63px;
    border-radius: 63px;
}
.transparent-btns-section{
/*    border: solid red;*/
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.write-me-a-message-btn-section{
/*    border: solid blue;*/
    width: 30%;
    display: flex;
    justify-content: flex-end;

}
.transparent-btn1{
    border-radius: 29.5px;
    border: 1px solid #FFF;
    width: 145px;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 655px;

}
.transparent-btn2{
    border-radius: 29.5px;
    border: 1px solid #FFF;
    width: 181px;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 86px;
}
.addresing{
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 83px;
    height: 19px;
    margin-top: 13px;
}
#number{
    width: 119px;
    margin-left: 8px;
}
.wrt-msg-btn{
    border-radius: 29.5px;
    background: #2264DC;
    width: 157.903px;
    height: 45px;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.write-me{
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
}
.white-dot{
    background: #ffffff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 33px;
    margin-top: 18px;
        }
            /* END OF FOOTER SECTION */






























