        /* || GENERAL STYLES */

*{
    font-family: 'Manrope', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;

}
body{
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

        /* || END OF GENERAL STYLES */



        /* MENU SECTION */

.burger{
    width: 15px;
    height: 7px;
}
.action-menu{
    margin-left: 35px;
    margin-top: 45px;
    position: absolute;
}
.text-menu{
    position: relative;
    top: 15px;
    bottom: 5px;
    left: 25px;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}
.text-menu a{
    text-decoration: none;
    color: #969696;
}
.menu-list{
    list-style: none;
    padding: 0px;
}
.menu{
    position: relative;
    bottom: 5px;
    left: 25px;
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

        /* END OF MENU SECTION */



        /* MAIN SECTION */



        /* END OF MAIN SECTION */



        /* FOOTER SECTION */

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 745px;
    background: #262630;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-main{
    position: relative;
    width: 100%;
    border: solid red;
    border-radius: 200px;
    height: 655px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-second{
    position: relative;
    width: 100%;
    border: solid rebeccapurple;
    height: 90px;
            border-radius: 200px;
}
.footer-text-main-section{
    position: relative;
    width: 100%;
    border: solid green;
    height: 380px;
}
.footer-btns-main-section{
    width: 100%;
    border: solid gold;
    height: 275px;
}
            /* END OF FOOTER SECTION */



























